<!--customers_mypage_path-->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
    <h3 class="mt-3 mb-3 pl-5"><strong>マイページ</strong></h3>

        <table class="table table-bordered">
            <p>
              <strong class="information-link pr-3">登録情報</strong>
              <%= link_to " 編集する", public_customers_edit_path, class: "btn btn-success btn-sm" %>
            </p>
            <tr>
              <td class="col-xs- table-secondary">氏名</td>
              <td><%= current_customer.last_name %>&nbsp;<%= current_customer.first_name %></td>
            </tr>

            <tr>
              <td class="col-xs-2 table-secondary">カナ</td>
              <td><%= current_customer.last_name_kana %>&nbsp;<%= current_customer.first_name_kana %></td>
            </tr>

            <tr>
              <td class="col-xs-2 table-secondary">郵便番号</td>
              <td><%= current_customer.postal_code %></td>
            </tr>

            <tr>
              <td class="col-xs-2 table-secondary">住所</td>
              <td><%= current_customer.address %></td>
            </tr>

            <tr>
              <td class="col-xs-2 table-secondary">電話番号</td>
              <td><%= current_customer.telephone_number %></td>
            </tr>

            <tr>
              <td class="col-xs-2 table-secondary">メールアドレス</td>
              <td><%= current_customer.email %></td>
            </tr>
        </table>
          <p>
            <strong class="shipping-link pr-4">配送先　</strong>
            <%= link_to " 一覧を見る", addresses_path, class: "btn btn-primary" %>
          </p>
          <p>
            <strong class="shipping-link pr-4">注文履歴</strong>
            <%= link_to " 一覧を見る", order_path, class: "btn btn-primary" %>
          </p>
    </div>
  <div>
</div>