<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h4 class="mb-4 mt-3">管理者ログイン</h4>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="row">
          <div class="col-lg-1"></div>
          <label class="col-lg-3">メールアドレス</label>
          <div class="col-lg-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 60 %>
        </div>
        </div>

        <div class="row">
          <div class="col-lg-1"></div>
          <label class="col-lg-3 mt-1">パスワード</label>
          <div class="col-lg-3 mt-1">
          <%= f.password_field :password, autocomplete: "current-password", size: 60 %>
        </div>
        </div>

        <div class="actions text-center mt-5">
          <%= f.submit "ログイン", class: 'btn btn-primary' %>
        </div><br>
      <% end %>

    </div>
  </div>
</div>

<%= render "admin/shared/links" %>
