<div class="container">
  <div class="row">

    <%= render "public/shared/sidebar", genres: @genres %>

    <div class="col-xl-10 mx-auto">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>

      <h3>新着商品</h3>
      <div class="d-flex flex-wrap">
        <div class="card" style="width: 15rem;">
          <% @items.each do |item| %>
          <%= link_to show_item_path(item.id) do %>
          <% if item.image.attached? %>
            <%= image_tag item.image, size: "200x100" %><br>
          <% else %>
            <%= image_tag 'no_image', size: "200x100" %><br>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text">¥<%= item.price %></p>
          </div>
        </div>
          <% end %>
      </div>
        <% end %>
        <%= link_to "全ての商品を見る>", items_path %>
      </div>

  </div>
</div>


<!--新着順に4商品のみ並べる-->
<!--斟酌商品のレイアウトがおかしい-->