<div class="container">
  <div class="row">
    <div class="col-xl-9 mt-3">

    <h3 class="mb-4"><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h3>

    <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <div class="d-flex">
        <label class="col-lg-3">会員ID</label>
        <div class="col-lg-3">
          <%= @customer.id %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">氏名</label>
        <div class="col-lg-3">
          <%= f.text_field :last_name,autoforcus: true, autocomplete: "last_name",  placeholder: "(姓)" %>
        </div>
        <div class="col-lg-3">
          <%= f.text_field :first_name,autoforcus: true, autocomplete: "first_name",  placeholder: "(名)" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">フリガナ</label>
        <div class="col-lg-3">
          <%= f.text_field :last_name_kana,autoforcus: true, autocomplete: "last_name_kana",  placeholder: "(セイ)" %>
        </div>
        <div class="col-lg-3">
          <%= f.text_field :first_name_kana,autoforcus: true, autocomplete: "first_name_kana",  placeholder: "(メイ)" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">郵便番号</label>
        <div class="col-lg-3">
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">住所</label>
        <div class="col-lg-3">
          <%= f.text_field :address, autofocus: true, autocomplete: "address", size: 60 %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">電話番号</label>
        <div class="col-lg-3">
          <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">メールアドレス</label>
        <div class="col-lg-3">
          <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">会員ステータス</label>
          <div class="d-flex col-lg-3">
            <div class="mr-4">
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, '有効', value: false %>
            </div>
          <div>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, '退会', value: true %>
          </div>
        </div>
      </div>

        <div class="text-center mt-4">
          <%= f.submit "変更を保存", class: 'btn btn-success btn-lg w-20' %>
        </div>
      <% end %>

    </div>
  </div>
</div>