<h2><%#= @customer.first_name + @customer.last_name %>さんの会員情報編集</h2>

  <%= form_with model: @customer, url: admin_customer_path do |f| %>

  <div class="row">
    <label class="col-lg-3">会員ID</label>
    <div class="col-lg-3">
      <%= f.text_field :id %>
    </div>
  </div><br>


  <div class="row">
    <label class="col-lg-3">氏名</label>
    <div class="col-lg-3">
      <%= f.text_field :last_name,autoforcus: true, autocomplete: "last_name",  placeholder: "(姓)" %>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :first_name,autoforcus: true, autocomplete: "first_name",  placeholder: "(名)" %>
    </div>
  </div><br>

  <div class="row">
    <label class="col-lg-3">フリガナ</label>
    <div class="col-lg-3">
      <%= f.text_field :last_name_kana,autoforcus: true, autocomplete: "last_name_kana",  placeholder: "(セイ)" %>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :first_name_kana,autoforcus: true, autocomplete: "first_name_kana",  placeholder: "(メイ)" %>
    </div>
  </div><br>

  <div class="row">
    <label class="col-lg-3">郵便番号</label>
    <div class="col-lg-3">
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
    </div>
  </div><br>

  <div class="row">
    <label class="col-lg-3">住所</label>
    <div class="col-lg-3">
      <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
    </div>
  </div><br>

  <div class="row">
    <label class="col-lg-3">電話番号</label>
    <div class="col-lg-3">
      <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
    </div>
  </div><br>

  <div class="row">
    <label class="col-lg-3">メールアドレス</label>
    <div class="col-lg-3">
      <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div><br>

  <div class="form-group">
    <label for="item_is_active">会員ステータス</label>
      <div class="is_deleted">
        <div>
          <%= f.radio_button :is_deleted, false %>
          <%= f.label :is_deleted, '有効', value: false %>
        </div>
      <div>
          <%= f.radio_button :is_deleted, true %>
          <%= f.label :is_deleted, '販売退会停止中', value: true %>
      </div>
    </div>
  </div>

    <div class="actions">
      <%= f.submit "変更を保存", class: 'btn btn-success' %>
    </div>
  <% end %>

    </div>
  </div>
</div>