<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>配送先編集</h2>
        <%= form_with model: @address, url: addresses_path do |f| %>
        <div class="row">
          <label class="col-lg-3">郵便番号</label>
          <div class="col-lg-3">
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
          </div>
        </div><br>
        <div class="row">
          <label class="col-lg-3">住所</label>
          <div class="col-lg-3">
            <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
          </div>
        </div><br>
        <div class="row">
          <label class="col-lg-3">宛名</label>
          <div class="col-lg-3">
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
          <div class="col-lg-3">
            <%= f.submit "変更内容を保存", class: 'btn btn-success' %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>