<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>注文情報入力</h2>
      <div class="pay_method">
        <h3>支払方法</h3>
        <div class="radio_button">
        <%= form_with model: @order, url: new_order_path do |order| %>
          <%= order.radio_button :payment_method, 1, checked: true %>
          <%= order.label :payment_method, "クレジットカード" %><br>
          <%= order.radio_button :payment_method, 2 %>
          <%= order.label :payment_method, "銀行振込" %>
        <% end %>
        </div>
      </div>

      <div class="address">
        <h3>お届け先</h3>
        <div class="radio_button">
        <%= form_with model: @address, url: new_order_path do |address| %>
          <%= address.radio_button :address, :default, checked: true %>
          <%= address.label :address, "ご自身の住所" %><br>
            〒<%= current_customer.postal_code %>
            <%= current_customer.address %><br>
            <%= current_customer.last_name + current_customer.first_name %><br>

          <%= address.radio_button :address, :list %>
          <%= address.label :address, "登録済住所から選択" %><br>
          <%= address.collection_select :address, current_customer.address.all, :id, :address, include_blank: "--選択してください--" %>
          <%#= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %>

          <%= address.radio_button :address, :new %>
          <%= address.label :address, "新しいお届け先" %>
            <div class="row">
              <label class="col-lg-3">郵便番号(ハイフンなし)</label>
              <div class="col-lg-3">
                <%= address.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
              </div>
            </div><br>
            <div class="row">
              <label class="col-lg-3">住所</label>
              <div class="col-lg-3">
                <%= address.text_field :address, autofocus: true, autocomplete: "address" %>
              </div>
            </div><br>
            <div class="row">
              <label class="col-lg-3">宛名</label>
              <div class="col-lg-3">
                <%= address.text_field :name, autofocus: true, autocomplete: "name" %>
              </div>
            </div><br>
            <%= address.submit "確認画面へ進む", class: 'btn btn-primary' %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>