<!--show_order_path-->

<div class="container">
  <div class="row">
    <h2 class="col-lg-12 mt-3 ml-5 mb-3">注文履歴詳細</h2>
    <div class="cont d-flex">
      <div class="order-info col-lg-6">
        <h4>注文情報</h4>
        <table class="table table-bordered">
            <tr>
              <td class="table-secondary">注文日</td>
              <td><%= @order.created_at.strftime('%Y/%m/%d')%></td>
            </tr>
            <tr>
              <td class="table-secondary">配送先</td>
              <td>
                〒<%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
              </td>
            </tr>
            <tr>
              <td class="table-secondary">支払方法</td>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <td class="table-secondary">ステータス</td>
              <td><%= @order.status_i18n %></td>
            </tr>
        </table>
      </div>

      <div class="payment-info col-lg-6 ml-2">
        <h4>請求情報</h4>
        <table class="table table-bordered">
            <tr>
              <td class="table-secondary">商品合計</td>
              <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="table-secondary">配送料</td>
              <td><%= @order.shipping_cost.to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="table-secondary font-weight-bold">ご請求額</td>
              <td><%= @order.total_payment.to_s(:delimited) %></td>
            </tr>
        </table>
      </div>
    </div>
  </div>


      <h4>注文内容</h4>
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.item.with_tax_price * order_detail.amount).to_s(:delimited) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>

</div>