<h2>ログイン</h2>

<h3>会員の方はこちらからログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <label class="col-lg-3">メールアドレス</label>
    <div class="col-lg-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

  <div class="row">
    <label class="col-lg-3 mb-3">パスワード</label>
    <div class="col-lg-3 mt-5">
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: 'btn btn-primary' %>
  </div><br>
<% end %>

<h3>会員登録がお済みでない方</h3>
<%= link_to "こちら", new_customer_registration_path %> からログインしてください。
