<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h4 class="mb-3 mt-2">ログイン</h4>

      <h4 class="mb-2 pl-2">会員の方はこちらからログイン</h4>

      <%= form_with model: @customer, url: session_path(resource_name) do |f| %>
      <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="pl-5 mt-3">
        <div class="row">
          <label class="col-lg-2">メールアドレス</label>
          <div class="col-lg-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40,  placeholder: "sample@example.com" %>
        </div>
        </div>

        <div class="row pt-3 mb-4">
          <label class="col-lg-2">パスワード</label>
          <div class="col-lg-3">
          <%= f.password_field :password, autocomplete: "current-password", size: 40 %>
        </div>
        </div>

        <div class="row pl-3 mb-5">
          <div class="col-lg-2"></div>
          <%= f.submit "ログイン", class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>

      <h4 class="mb-3 pl-2">会員登録がお済みでない方</h4>
    <div class="row">
      <div class="col-lg-2"></div>
      <%= link_to "こちら", new_customer_registration_path %> からログインしてください。
    </div>
    </div>
  </div>
</div>