<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class="d-flex flex-wrap">
      <h3>商品一覧(全<%= @items.count %>件)</h3>
      <% @items.each do |item| %>

        <div class="card" style="width: 16rem;">
          <%= link_to show_item_path(item.id) do %>
          <% if item.image.attached? %>
            <%= image_tag item.image, size: "200x100" %><br>
          <% else %>
            <%= image_tag 'no_image', size: "200x100" %><br>
          <% end %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text">¥<%= item.price %></p>
          </div>
        </div>
      </div>
        <% end %>
    </div>
  </div>
</div>