<div class="container">
  <div class="row mt-4">

    <%= render "public/shared/sidebar", genres: @genres %>

    <div class="col-xl-10 mx-auto">
      <h3>商品一覧(全<%= @items.count %>件)</h3>
      <div class="d-flex flex-wrap">
      <% @items.each do |item| %>

        <div class="card ml-4 mb-4" style="width: 12rem;">
          <%= link_to show_item_path(item.id) do %>
          <% if item.image.attached? %>
            <%= image_tag item.image, size: "150x100" %><br>
          <% else %>
            <%= image_tag 'no_image', size: "150x100" %><br>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-dark"><%= item.name %></h5>
            <p class="card-text text-dark">¥<%= item.price %></p>
          </div>
        </div>
          <% end %>
        <% end %>
      </div>
    <div class="text-center">
      <%= paginate @items %>
    </div>
  </div>
</div>