<div class="container">
  <div class="row mt-4">

    <%= render "public/shared/sidebar", genres: @genres %>

    <div class="col-xl-3 mx-auto">
      <div class="item_image">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "300x300" %>
      <% else %>
        <%= image_tag 'no_image', size: "300x300" %>
      <% end %>
      </div>
    </div>
    <div class="col-xl-5 ml-3">
      <table class="table table-borderless ">
        <tbody>
        <tr>
          <td><h2><%= @item.name %></h2></td>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td class="d-flex flex-wrap align-items-end mt-3">
            <h3>¥<%= @item.with_tax_price.to_s(:delimited) %></h3>
            <h5 class="pl-1">(税込)</h5>
          </td>
        </tr>
        </tbody>
      </table>

      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |item| %>
        <%= item.select :amount, *[1..20], include_blank: "個数選択　　" %>
        <%= item.submit "カートに入れる", class: "btn btn-success ml-5" %>
        <%= item.hidden_field :item_id, :value => @item.id %>
      <% end %>
    </div>
  </div>
</div>